@page "/animation"

<PageTitle>animation</PageTitle>

<h3>Animation</h3>

@code {

}

<section>
	<h5>Test Animacji</h5>
	<div class="animation">
		TEST <br />
	</div>

	<h5>Test Obrazków</h5>
	<div class="foto">
		<h5>Republika Galaktyczna</h5>
		<img src="https://github.com/WlodarczykMarcin/Blazor/blob/main/blazor/blazor/Republik.png" alt="For The Republic">
	</div>
</section>
