@page "/animation"

<PageTitle>animation</PageTitle>

<h3>Animation</h3>

@code {

}

<section>
	<h5>Test Animacji</h5>
	<div class="animation">
		TEST
	</div>

	<h5>Test Obrazków</h5>
	<div class="foto">
		<h5>Republika Galaktyczna</h5>
		<img src="Republik.png">
	</div>
</section>
