@page "/animation"

<PageTitle>animation</PageTitle>

<h3>Animation</h3>

@code {

}

<section>
	<h5>Test Animacji</h5>
	<div class="animation">
	
	</div>

	<h5>Test Obrazków</h5>
	<div class="foto">
		<h5> Obraz </h5>
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWB1YNdqEj9jTTGOwuHFpY8GUCZHcvnq1RgA&s" alt="...">
		<br />
		Ford Mustang
	</div>
</section>
